body {
  font: 12px "Helvetica Neue", helvetica, arial, sans-serif;
  color: #f7f2f2;
  background: #333;
  text-align: center;

  text-rendering: optimizeLegibility;
}

.color-font-error{
  color: #e95353
  /* color: #ef7c61;*/
}

.color-font-w {
  color: white;
}

.color-font-mensaje {
  color: #4bb1b1;
}

.pos {
  background-color: dimgrey;
  margin-left: 32%;
  margin-right: 25%;
}

.color-font-trace {
  color: #BCD42A;
  text-align: left;
}

.color-font-otros {
  color: #e9e4e5;
}


